@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:ital,wght@0,300;1,300&display=swap');

:root {
  --main-background: #1D1E1D;
  --main-nav-background: #171817;
  --main-color: #fff;
  --hero-support-color: #ccc;
  --support-color: #0066FF;
  --sidebar-width: 150px;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-background);
  color: var(--main-color);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.content.blured {
  filter: blur(5px);
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
}

ul {
  list-style-type: none;
}

a,
a:visited {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--support-color);
  transition: all 0.25s ease-in-out;
}

.layout {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: var(--main-nav-background);
  text-transform: capitalize;
  min-width: var(--sidebar-width);
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  overflow: hidden;
}

.mobile-navigation-icon {
  display: none;
  cursor: pointer;
}

.site-navigation ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.site-navigation ul li {
  margin: 5px 0;
}

.nav-link.active {
  color: var(--support-color);
}

.social-links li {
  margin-bottom: 10px;
}

.social-links li:last-child {
  margin-bottom: 0;
}

svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.content {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  justify-content: center;
  padding: 0;
}

.hero-line h1 {
  color: var(--support-color);
  font-size: 24px;
}

.hero-line h2 {
  font-size: clamp(40px, 5vw, 80px);
}

.hero-line h3 {
  color: var(--hero-support-color);
}

.content section {
  padding: 100px 0;
}

.hidden {
  opacity: 0;
  transform: translateY(15px);
  transition: all 0.3s ease-in;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

/* stagger links and hero section */
.logo .nav-link {
  transition-delay: 0;
}

.site-navigation ul li:nth-child(2) {
  transition-delay: 100ms;
}

.site-navigation ul li:nth-child(3) {
  transition-delay: 200ms;
}

.site-navigation ul li:nth-child(4) {
  transition-delay: 300ms;
}

.site-navigation ul li:nth-child(5) {
  transition-delay: 400ms;
}

.site-navigation ul li:nth-child(6) {
  transition-delay: 500ms;
}

.social-links li:nth-child(1) {
  transition-delay: 600ms;
}

.social-links li:nth-child(2) {
  transition-delay: 700ms;
}

.social-links li:nth-child(3) {
  transition-delay: 800ms;
}

.hero .hero-line:nth-child(1) {
  transition-delay: 900ms;
}

.hero .hero-line:nth-child(2) {
  transition-delay: 1000ms;
}

.hero .hero-line:nth-child(3) {
  transition-delay: 1100ms;
}

/* end staggering */

.about {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-delay: 500ms;
}

.about h2 {
  margin: 10px 0 40px;
}

.about-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.about-text div p .job-link {
  color: var(--support-color);
}

.about-text div p {
  margin-bottom: 10px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.skills li {
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 15px;
  position: relative;
}

.skills li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--support-color);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.about-img {
  max-width: 300px;
}

.experience {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience h2 {
  margin: 10px 0 40px;
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 500px;
}

.tabs li {
  cursor: pointer;
}

.tabs li.active {
  color: var(--support-color);
}

.role-list h3 {
  color: var(--support-color);
}

.role-list p {
  font-size: 14px;
  margin: 15px 0;
}

.role-list li {
  position: relative;
  padding-left: 20px;
}

.role-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--support-color);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.role-list li,
.tabs li {
  margin-top: 10px;
}

.projects {
  max-width: 1000px;
  /* display: none; */
}

.card-title h3 {
  color: var(--support-color);
}

.projects h2 {
  margin: 0 0 50px;
}

.project-card {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-bottom: 50px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.used-technologies-list ul {
  display: flex;
  flex-wrap: wrap;
}

.used-technologies-list ul li,
.links-to ul li {
  margin: 0px 20px 5px 0;
}

.links-to ul {
  display: flex;
}

.contacts {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
}

.contacts h2 {
  margin: 0 0 20px;
}

.contacts-content>div {
  position: relative;
  margin-top: 50px;
  padding: 1.25rem 3.5rem 1.25rem 1.75rem;
  border: 1px solid var(--support-color);
  display: inline-block;
}

.copy-icon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  bottom: 18px;
  padding: 5px;
  border-radius: 5px;
}

.copy-icon svg {
  fill: var(--support-color);
}

.show-copied-message {
  position: absolute;
  font-size: 13px;
  top: -35px;
  background: var(--support-color);
  border-radius: 30px;
  padding: 5px 10px;
  right: 0;
  transition: all .5s ease-in;
}

.contacts-content .email-info a:hover {
  color: var(--main-color);
}

.footer {
  padding: 70px 0;
  text-align: center;
}

.scroll-to-top {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s ease-in;
}

.scroll-to-top.show {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: all .5s ease-in;
}

/* responsive design */

@media (width <=1024px) {
  .about-content {
    display: block;
  }

  .about-img {
    width: 70%;
    margin: 50px auto 0;
  }
}

@media (width <=768px) {
  a:hover {
    color: var(--main-color);
  }

  .sidebar {
    font-size: 1.2rem;
    position: fixed;
    right: -100%;
    top: 0;
    width: min(75vw, 350px);
    z-index: 9;
    padding: 50px 10px;
    transition: all 0.3s ease-in;
  }

  .sidebar.to-left {
    right: 0;
    top: 0;
  }

  .social-links svg {
    width: 25px;
    height: 25px;
  }

  .mobile-navigation-icon {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    right: 20px;
    top: 37px;
    z-index: 10;
  }

  .mobile-navigation-icon span {
    background: var(--support-color);
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms
  }

  .mobile-navigation-icon span:nth-child(1) {
    top: 0px;
    left: 0px;
  }

  .mobile-navigation-icon span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }

  .mobile-navigation-icon span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }

  .mobile-navigation-icon:not(.open):hover span:nth-child(1) {
    transform: rotate(0deg) scaleY(1.1);
  }

  .mobile-navigation-icon:not(.open):hover span:nth-child(2) {
    transform: rotate(0deg) scaleY(1.1);
  }

  .mobile-navigation-icon:not(.open):hover span:nth-child(3) {
    transform: rotate(0deg) scaleY(1.1);
  }

  .mobile-navigation-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }

  .mobile-navigation-icon.open span:nth-child(2) {
    opacity: 0;
  }

  .mobile-navigation-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }

  .project-card {
    display: flex;
    flex-direction: column;
  }

  .project-image {
    margin-top: 20px;
  }
}

@media (width <=600px) {
  .experience {
    display: block;
  }

  .experience-content {
    display: block;
  }

  .tabs {
    display: flex;
    margin-bottom: 15px;
  }

  .tabs li {
    margin-right: 10px;
  }
}