@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto:wght@300&display=swap');

:root {
  --main-background: #1D1E1D;
  --main-nav-background: #171817;
  --main-color: #fff;
  --support-color: #0066FF;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-background);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
}

ul {
  list-style-type: none;
}

a,
a:visited {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--support-color);
  transition: all 0.25s ease-in-out;
}

.sidebar {
  background-color: var(--main-nav-background);
  text-transform: capitalize;
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  overflow: hidden;
}

.mobile-navigation-icon {
  display: none;
  cursor: pointer;
}

.site-navigation ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.site-navigation ul li {
  margin: 5px 0;
}

.nav-link.active {
  color: var(--support-color);
}

.social-links li:first-child {
  margin-bottom: 10px;
}

.social-links svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

@media (width <= 768px) {
  .sidebar {
    font-size: 1.2rem;
    position: fixed;
    right: -100%;
    top: 0;
    width: min(75vw, 350px);
    z-index: 9;
    padding: 50px 10px;
    transition: all 0.3s ease-in;
  }

  .sidebar.to-left {
    right: 0;
    top: 0;
  }

  .social-links svg {
    width: 25px;
    height: 25px;
  }

  .mobile-navigation-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    top: 50px;
    width: 30px;
    height: 24px;
    z-index: 10;
  }

  /* .mobile-navigation-icon.open-navigation div:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .mobile-navigation-icon.open-navigation div:nth-child(2) {
    display: none;
  }

  .mobile-navigation-icon.open-navigation div:last-child {
    transform: rotate(45deg) translate(-8px, -10px);
  } */

  .mobile-navigation-icon div {
    width: 100%;
    height: 3px;
    background-color: var(--support-color);
  }
}