@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:wght@500&family=Roboto:wght@300&display=swap');

:root {
  --main-background: #1D1E1D;
  --main-nav-background: #171817;
  --main-color: #fff;
  --support-color: #0074E4;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  list-style-type: none;
}

.heading-text {
  font-family: 'Playfair Display', serif;
}

.body-text {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Navigation Styles */

.container {
  display: flex;
  height: 100vh;
  background-color: var(--main-background);
  color: #fff;
}

.sidebar {
  width: 150px;
  height: 100%;
  display: flex;
  flex: 0 0 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-nav-background);
}

.sidebar a:hover {
  color: var(--support-color);
  transition: all 0.3s ease-out;
}

.logo {
  position: absolute;
  top: 17px;
}

.main-nav-list {
  padding: 0;
  text-align: center;
}

.main-nav-item {
  padding: 15px 0;
}

.active {
  color: var(--support-color);
}

.socials {
  width: 100%;
}

.socials-list {
  display: flex;
  justify-content: space-evenly;
}

/* Home Section */

.main-home {
  display: flex;
  align-items: center;
  height: 100vh;
}

.home-header {
  font-size: 2.5rem;
  margin-left: 60px;
  letter-spacing: .2rem;
}

.home-header span:hover {
  cursor: pointer;
  color: var(--support-color);
  transition: all 0.5s ease-out;
}

/* About Section */
.main-about {
  flex: 1;
}